a {
    text-decoration: none;
    font-family: "Karla", sans-serif;
    color: darkblue;
    font-size: 20px;
    font-weight: 600;
    border: dotted black 0.2em;
}

body {
    background-color: #2D4B73;
    color: white;
    font-family: "Karla", 
    sans-serif;
}

#card-btn {
    background-color: coral;
    border: none;
    color: aliceblue;
    padding: 8px;
    cursor: pointer;
    font-size: 15px;
    margin: 5px;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 12px;
}

#name {
    height: 25px;
    padding: 5px;
}

#btn-main {
    padding: 10px 30px;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
}

.profile {
    background-color: blueviolet;
    border-radius: 5px;
    border: solid coral 1px;
    text-align: center;
    padding: 20px;
    width: 250px;
}
