font-family: 'Montserrat', sans-serif;




.body {
width: 1440px;
height: 1024px;
top: -1106px;
left: 823px;
color: white;

}
.section2 {
    position: absolute;
    width: 698px;
    height: 1032px;
    left: 853px;
    top: 0px;
    background: linear-gradient(90deg, rgba(180, 146, 253, 0.3) 0%, rgba(173, 78, 245, 0.9543) 100%);

}

.developer {
position: absolute;    
width: 407px;
height: 505px;
left: 970px;
top: 259px;
background: url(../imagenes/developer-mockup.png);

}

.contcount {
position: absolute;
width: 452px;
height: 603px;
top: 217px;
left: 216px;
background: rgba(217, 217, 217, 1);

}

.div-form {
    box-sizing: border-box;

    position: absolute;
    width: 567px;
    height: 734px;
    left: 153px;
    top: 144px;
    
    background: #FFFFFF;
    opacity: 0.7;
    box-shadow: -20px -20px 60px rgba(94, 94, 94, 0.15), 20px 20px 60px rgba(94, 94, 94, 0.15);
}

.Createyouraccount {
    position: absolute;
    width: 400px;
    height: 57px;
    left: 216px;
    top: 217px;
    
    font-family: 'Montserrat Alternates';
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 44px;
    
    color: #1D1D1D;

}

.Googlelogo {
position: absolute;
width: 40px;
height: 41px;
left: 232px;
top: 311px;

background: url(../imagenes/Google-logo.png);

}

.usegoogle {

position: absolute;
width: 140px;
height: 27px;
left: 281px;
top: 318px;

font-family: 'Montserrat';
font-style: normal;
font-weight: 500;
font-size: 22px;
line-height: 27px;
/* identical to box height */

color: #1D1D1D;
}

.iconapple {
    
position: absolute;
width: 40px;
height: 47.62px;
left: 485px;
top: 304px;


}



.useapple {
    position: absolute;
    width: 205px;
    height: 32px;
    left: 535px;
    top: 318px;
    
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 27px;
    
    color: #1D1D1D;
}

.googleboton {
    
box-sizing: border-box;

position: absolute;
width: 205px;
height: 70px;
left: 216px;
top: 296px;

border: 1px solid #1D1D1D;
border-radius: 12px;
}

.appleboton {
 box-sizing: border-box;

position: absolute;
width: 205px;
height: 70px;
left: 463px;
top: 296px;

border: 1px solid #1D1D1D;
border-radius: 12px;
}

.emaillabel {

position: absolute;
width: 205px;
height: 32px;
left: 216px;
top: 426px;

font-family: 'Montserrat';
font-style: normal;
font-weight: 500;
font-size: 25px;
line-height: 30px;

color: #1D1D1D;

}

.emailinput {
box-sizing: border-box;

position: absolute;
width: 452px;
height: 67px;
left: 216px;
top: 458px;

border: 1px solid #1D1D1D;
border-radius: 12px;
}

.Youremail {

position: absolute;
width: 199px;
height: 37px;
left: 243px;
top: 473px;

font-family: 'Montserrat';
font-style: normal;
font-weight: 500;
font-size: 25px;
line-height: 30px;
display: flex;
align-items: center;

color: #6667B0;

}

.password {
position: absolute;
width: 205px;
height: 32px;
left: 216px;
top: 547px;

font-family: 'Montserrat';
font-style: normal;
font-weight: 500;
font-size: 25px;
line-height: 30px;

color: #1D1D1D;

}

.passwordinput {
    box-sizing: border-box;

    position: absolute;
    width: 452px;
    height: 67px;
    left: 216px;
    top: 579px;
    
    border: 1px solid #1D1D1D;
    border-radius: 12px;
}

.Yourpassword {
position: absolute;
width: 221px;
height: 42px;
left: 243px;
top: 591px;

font-family: 'Montserrat';
font-style: normal;
font-weight: 500;
font-size: 25px;
line-height: 30px;
display: flex;
align-items: center;

color: #6667B0;
}

.loginbutton {
position: absolute;
width: 452px;
height: 67px;
left: 216px;
top: 697px;

background: #6B43FF;
border-radius: 12px;

}

.textlogin {
    position: absolute;
    width: 381px;
    height: 59px;
    left: 252px;
    top: 701px;
    
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 35px;
    display: flex;
    align-items: center;
    text-align: center;
    
    color: #F4F1FF;
}

.havecount {
    position: absolute;
    width: 321px;
    height: 47px;
    left: 353px;
    top: 773px;
    
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 27px;
    display: flex;
    align-items: center;
    text-align: right;
    
    color: #6B43FF;
     
}

.line1 {
position: absolute;
width: 205px;
height: 0px;
left: 216px;
top: 391px;

border: 1px solid #6667B0;
}

.line2 {
position: absolute;
width: 205px;
height: 0px;
left: 463px;
top: 391px;

border: 1px solid #6667B0;

}

.or {
position: absolute;
width: 54px;
height: 44px;
left: 431px;
top: 375px;

font-family: 'Montserrat';
font-style: normal;
font-weight: 500;
font-size: 22px;
line-height: 27px;

color: #000000;

}

.youemail{
position: absolute;
width: 199px;
height: 37px;
left: 243px;
top: 473px;

font-family: 'Montserrat';
font-style: normal;
font-weight: 500;
font-size: 25px;
line-height: 30px;
display: flex;
align-items: center;

color: #6667B0;
}

