.astro--container {
    background-color: #3C1053;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 30px 0px;
    color: whitesmoke;
    box-shadow: #c079e6 0px 10px 5px 0px;

}

.astro--name, .astro--craft{
    margin: 5px 2px;
    padding: 2px;

}